Source: pykolab
Section: python
Priority:  optional
Maintainer: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>
Uploaders: Paul Klos <kolab@klos2day.nl>
Build-Depends:  autotools-dev,
                debhelper (>= 7.0.50~),
                dh-autoreconf,
                gawk,
                gettext,
                intltool,
                libcroco3,
                libexpat1,
                libglib2.0-0,
                libglib2.0-dev,
                libpcre3,
                libssl-dev,
                libunistring0,
                libxml-parser-perl,
                libxml2,
                mime-support,
                python (>= 2.6~),
                python-icalendar,
                python-minimal,
                python-nose,
                python-support,
                univention-config-dev | bash
Standards-Version: 3.9.3
Homepage: http://www.kolab.org
Vcs-Git: git://git.kolab.org/git/pykolab
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pykolab.git;a=summary

Package: pykolab
Architecture: all
Depends:    adduser (>= 3.11),
            libpython2.7 | libpython2.6,
            python,
            python-icalendar,
            python-mysqldb,
            python-kolab,
            python-ldap,
            python-pyasn1,
            python-pyasn1-modules,
            python-sqlalchemy,
            ${misc:Depends},
            ${shlibs:Depends},
            ${ucs:Depends}
Description: Kolab Groupware daemon and utilities                                                                                          
 Python implementation of the Kolab Groupware server

Package: kolab-cli
Architecture: all
Depends:    pykolab (= ${binary:Version}),
            python,
            python-augeas,
            python-cheetah,
            ${misc:Depends},
            ${ucs:Depends}
Description: Command-line utilities for Kolab
 This package includes command-line utilities for Kolab Groupware

Package: kolab-conf
Architecture: all
Depends: pykolab (= ${binary:Version}), kolab-ldap, ${python:Depends}, python, ${misc:Depends}, python-augeas, python-cheetah
Description: Configuration management for Kolab
 This package includes configuration management utilities for
 Kolab Groupware

Package: kolab-saslauthd
Architecture: all
Depends:    lsb-base (>= 3.0-6),
            pykolab (= ${binary:Version}),
            python,
            sasl2-bin,
            ${misc:Depends}
Description: SASL Authentication Daemon for Kolab
 A multi-domain capable Kolab SASL Authentication daemon.

Package: kolab-server
Architecture: all
Depends: pykolab (= ${binary:Version}), python, ${misc:Depends}, lsb-base (>= 3.0-6)
Description: Kolab Groupware Server
 Server daemon synchronizing the mutations between various
 Kolab Groupware components.

Package: kolab-telemetry
Architecture: all
Depends: kolab-cli (= ${binary:Version}), python, ${misc:Depends}
Description: Kolab Telemetry Logging Capabilities
 Cyrus IMAP Telemetry logging handling capabilities for Kolab Groupware

Package: kolab-xml
Architecture: all
Depends: pykolab (= ${binary:Version}),
         python,
         python-kolabformat,
         ${misc:Depends},
         python-icalendar
Description: Kolab XML format wrapper for pykolab
 Kolab Format XML bindings wrapper for pykolab

Package: wallace
Architecture: all
Depends: pykolab (= ${binary:Version}),
         kolab-xml (= ${binary:Version}),
         python,
         ${misc:Depends},
         lsb-base (>= 3.0-6),
         python-dateutil,
         python-icalendar
Replaces: kolab-content-filter
Provides: kolab-content-filter
Description: Kolab Content-Filter
 This is the Kolab Content Filter, with plugins
