#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ 

override_dh_install:
	dh_install --list-missing -XLICENSE
	# install sample config	
	install -m 644 $(CURDIR)/config/config.ini.sample $(CURDIR)/debian/kolab-freebusy/etc/kolab-freebusy/config.ini
	# Install apache2 configuration
	mkdir -p $(CURDIR)/debian/kolab-freebusy/etc/apache2/sites-available
	install -pm 644 $(CURDIR)/debian/apache2.conf $(CURDIR)/debian/kolab-freebusy/etc/apache2/sites-available/kolab-freebusy.conf

override_dh_link:
	# These become links
	rm -rf $(CURDIR)/debian/kolab-freebusy/usr/share/kolab-freebusy/lib/Roundcube
	rm -rf $(CURDIR)/debian/kolab-freebusy/usr/share/kolab-freebusy/lib/plugins
	dh_link
