Source: libcalendaring
Priority: extra
Maintainer: Jeroen van Meeuwen <vanmeeuwen@kolabyss.com>
Build-Depends: debhelper (>= 8.0.0),
	cmake,
	qt4-qmake,
	libqt4-dev,
	libical-dev,
	libx11-dev,
	libboost-dev,
	libsasl2-dev
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: git://git.kolabsys.com/git/apt/libcalendaring
Vcs-Browser: http://git.kolabsys.com/git/apt/libcalendaring

Package: libcalendaring-dev
Section: libdevel
Architecture: any
Depends: libcalendaring (= ${binary:Version})
Description: Headers for calendaring routines
 This package contains headers for the advanced calendaring
 routines for Kolab Groupware

Package: libcalendaring
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Advanced calendaring routines for Kolab Groupware
 This library adds advanced calendaring routines for Kolab
 Groupware
